<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
<!-- <import resource="classpath:rest-component-config.xml"/> -->

<!--    <import resource="applicationContext-ejb.xml" />                -->

<!-- Restlet components -->

        <bean id="component" class="org.restlet.ext.spring.SpringComponent">
                <property name="name" value="RESTful Biovigilans Server component" />
                <property name="description" value="Admin for Biovigilans" />
                <property name="owner" value="Kunnskapssenteret" />
                <property name="author" value="Oluf Jensen" />
            <property name="defaultTarget" ref="path2BeanRouter" />
            <property name="client" value="clap" />
        </bean>

        <bean id="component.context"
                class="org.springframework.beans.factory.config.PropertyPathFactoryBean" />
 

        <bean id="componentChildContext" class="org.restlet.Context">
                <lookup-method name="createChildContext" bean="component.context" />
        </bean>


<!-- Restlet components end -->

         <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
                <property name="locations">
                        <list>
                                <value>/config/app-config/application.properties</value>
                                <value>/config/app-config/jdbc.properties</value>
                                <value>/config/app-config/jdbcutside.properties</value>
                                <value>/config/app-config/sqladmin.properties</value>
                                <value>/config/app-config/tables.properties</value>
                                <value>/config/app-config/question.properties</value>
                                <value>/config/app-config/environment.properties</value>
                                <value>/config/app-config/parameter.properties</value>
                                <value>/config/app-config/giver.properties</value>
                       			<value>/config/app-config/kontakt.properties</value>
                                <value>/config/app-config/andreHendelser.properties</value>
                                <value>/config/app-config/dbtable.properties</value>
                        </list>
                </property>
         </bean>
         
         
        <bean id="ICD10WebService" class="no.naks.biovigilans.felles.control.ICD10WebServiceImpl">
<!--  C:\\biovigilans\\temp\\ICD10CM.xml  C:\biovigilans\temp     -->
 <!--        <property name="xmlFillocation" value= "Z:\\prosjekter\\hemovgilans\\icd10\\ICD10CM_FY2014_Full_XML\\ICD10CM.xml" ></property>   -->   
				<property name="xmlFillocation" value= "C:\\biovigilans\\temp\\ICD10CM.xml" ></property>  
<!--				<property name="xmlFillocation" value= "/var/tmp/icd10/ICD10CM.xml" ></property>  -->

        </bean> 	

            	
	 	<bean name="path2BeanRouter" class="org.restlet.ext.spring.SpringBeanRouter"> 
<!-- 
            <property name="attachments"> 
            <map> 
               <entry key="/css/" value-ref="docsDir" /> 
            </map> 
        </property> 
  -->       
		</bean>
<!-- Disse ekstra server resource eksekveres når stylesheet hentes av html  -->
        <bean name="/hemovigilans/css/bootstrap.css" id="cssServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.simple.CssServerResource">
        </bean>
        <bean name="/hemovigilans/scripts/hendelser.js" id="bootstrapServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.simple.BootstrapjsServerResource">
        </bean>         
        <bean name="/hemovigilans/css/default.css" id="defaultServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.simple.DefaultCssServerResource">
        </bean>         
        
        <bean name="/hemovigilans/css/reset.css" id="resetServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.simple.ResetCssServerResource">
        </bean>
        <bean name="/hemovigilans/css/sitemap.css" id="sitemapServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.simple.SitemapCssServerResource">
        </bean> 
 <!-- end ekstra server resource -->

                
        <bean name="/hemovigilans/" id="adminServerResourceHTML" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.RapporterMainServerResourceHtml">
        <property name="sessionAdmin" ref="sessionAdmin"></property>

        </bean>
        <bean name="/hemovigilans/analyse_admin_main.html" id="analyseServerResourceHTML" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.RapporterAnalyseServerResourceHTML">
        <property name="sessionAdmin" ref="sessionAdmin"></property>
	
        </bean> 
        <bean name="/hemovigilans/saksbehandling.html" id="sakServerResourceHTML" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.SaksbehandlingServerResourceHTML">
        	<property name="sessionAdmin" ref="sessionAdmin"></property>
			<property name="saksbehandlingWebservice" ref="saksBehandlerWebService"></property>
	       <property name="sessionParams" value="${andreHendelser.dato},${andreHendelser.beskrivelse},${andreHendelser.hendelse},${andreHendelser.klassifikasjon},
                ${andreHendelser.kvalitetskrav},${andreHendelser.prosess},${andreHendelser.oppdaget},
                ${andreHendelser.planlagte},${andreHendelser.kommentar},${andreHendelser.klassifikasjon-sub},${andreHendelser.hvagikkgalt},${andrehendelser.ytterligereopplysninger},
                ${andrehendelser.pasientopplysninger},${andrehendelser.kjonn},${andrehendelser.alder}">
        
        </property>
        <property name="aldergruppe" value="${aldergruppepasient1},${aldergruppepasient2},${aldergruppepasient3},${aldergruppepasient4},${aldergruppepasient5},
                        ${aldergruppepasient6},${aldergruppepasient7},${aldergruppepasient8},${aldergruppepasient9},${aldergruppepasient10},${aldergruppepasient11},${aldergruppepasient12}">
         </property>
         
      <property name="alvorligHendelse" value="${andrealvorlighendelsenoption1},${andrealvorlighendelsenoption2},${andrealvorlighendelsenoption3},${andrealvorlighendelsenoption4},${andrealvorlighendelsenoption5}"></property>
      <property name="hovedprosesslist" value ="${hovedprosessoption1},${hovedprosessoption2},${hovedprosessoption3},${hovedprosessoption4},${hovedprosessoption5},${hovedprosessoption6},${hovedprosessoption7},${hovedprosessoption8},${hovedprosessoption9},
      ${hovedprosessoption10},${hovedprosessoption11}"></property>
      <property name="feilelleravvik" value="${feilelleravvikoption1},${feilelleravvikoption2},${feilelleravvikoption3},${feilelleravvikoption4},${feilelleravvikoption5},${feilelleravvikoption6},${feilelleravvikoption7},${feilelleravvikoption8}"></property>  
      <property name="hendelsenoppdaget" value="${hendelsenoppdagetoption1},${hendelsenoppdagetoption2},${hendelsenoppdagetoption3},${hendelsenoppdagetoption4},${hendelsenoppdagetoption5},${hendelsenoppdagetoption6},"></property>  
			
      </bean>
        
        <bean name="/hemovigilans/rapporter_andrehendelser.html" id="rapporterhendelserServerResource" autowire="byName" scope="prototype"
            class="no.naks.biovigilans_admin.web.server.resource.RapporterAndreHendelserServerResourceHtml">
        <property name="sessionParams" value="${andreHendelser.dato},${andreHendelser.beskrivelse},${andreHendelser.hendelse},${andreHendelser.klassifikasjon},
                ${andreHendelser.kvalitetskrav},${andreHendelser.prosess},${andreHendelser.oppdaget},
                ${andreHendelser.planlagte},${andreHendelser.kommentar},${andreHendelser.klassifikasjon-sub},${andreHendelser.hvagikkgalt},${andrehendelser.ytterligereopplysninger},
                ${andrehendelser.pasientopplysninger},${andrehendelser.kjonn},${andrehendelser.alder}">
        
        </property>
        <property name="aldergruppe" value="${aldergruppepasient1},${aldergruppepasient2},${aldergruppepasient3},${aldergruppepasient4},${aldergruppepasient5},
                        ${aldergruppepasient6},${aldergruppepasient7},${aldergruppepasient8},${aldergruppepasient9},${aldergruppepasient10},${aldergruppepasient11},${aldergruppepasient12}">
         </property>
         
      <property name="alvorligHendelse" value="${andrealvorlighendelsenoption1},${andrealvorlighendelsenoption2},${andrealvorlighendelsenoption3},${andrealvorlighendelsenoption4},${andrealvorlighendelsenoption5}"></property>
      <property name="hovedprosesslist" value ="${hovedprosessoption1},${hovedprosessoption2},${hovedprosessoption3},${hovedprosessoption4},${hovedprosessoption5},${hovedprosessoption6},${hovedprosessoption7},${hovedprosessoption8},${hovedprosessoption9},
      ${hovedprosessoption10},${hovedprosessoption11}"></property>
      <property name="feilelleravvik" value="${feilelleravvikoption1},${feilelleravvikoption2},${feilelleravvikoption3},${feilelleravvikoption4},${feilelleravvikoption5},${feilelleravvikoption6},${feilelleravvikoption7},${feilelleravvikoption8}"></property>  
      <property name="hendelsenoppdaget" value="${hendelsenoppdagetoption1},${hendelsenoppdagetoption2},${hendelsenoppdagetoption3},${hendelsenoppdagetoption4},${hendelsenoppdagetoption5},${hendelsenoppdagetoption6},"></property>  
      <property name="icd10WebService" ref="ICD10WebService"></property>
      <!-- 
	      <property name="kjonnValg" value="${kjonnkvinne},${kjonnmann}"></property>
	      <property name="blodProdukt" value="${blodproduktplasmaoctaplas},${blodproduktpatogeninaktivert},${blodproduktflerepatogeninaktivert},${blodproduktkarantene},
	                      ${blodproduktfrysetørret},${blodproduktflerefrysetørret},${blodproduktferkst},${blodproduktuniplas},${blodproduktannen}"></property>
	      <property name="hemolyseParametre" value="${hemolyseparam1},${hemolyseparam2},${hemolyseparam3},${hemolyseparam4},${hemolyseparam5}"></property>
	      <property name="avdelinger" value="${avdelingkir},${avdelingintsensiv},${avdelingpediadrisk},${avdelingmedisinsk},${avdelinggyn},${avdelingvetikke}"></property>
      -->
  </bean>    
       <bean id="sessionAdmin" class="no.naks.biovigilans.felles.control.SessionAdminImpl">
        
        </bean>


        <bean id="propertiesHolder" class="no.naks.web.properties.PropertiesHolder">
                <property name="imagePath" value="${image.archive.path}" />
        </bean>
		<bean id="saksBehandlerWebService" class="no.naks.biovigilans_admin.web.control.SaksbehandlingWebServiceImpl">
			<property name="saksbehandlingService" ref="saksbehandlingService"></property>
			<property name="melderTableService" ref="melderTableService"></property>
		</bean>
	
<!-- Exception handling -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="error/exception" />
        <property name="defaultStatusCode" value="500" />
        <property name="warnLogCategory" value="WARN" />
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.webflow.execution.repository.FlowExecutionRestorationFailureException">velkommen</prop>
                
            </props>
        </property>
    </bean>

</beans>
